<div class="player-form" >
    <div class="information">
        <div class="information__head">
            <div class="information__title">{{titulo}}</div>
            <button class="information__close-button" (click)="closeModal()"> X </button>
        </div>
        <div class="information__body">
            <div class="information__photo-box">
                <img class="information__photo" src="" alt="NOT FOUND">
            </div>
            <div class="information__form">
                <div>
                    <label>Nombre</label><br>
                    <input type="text" />
                </div>
                <div>
                    <label>Apellido</label><br>
                    <input type="text" />
                </div>
                <div>
                    <label>Imagen</label><br>
                    <input type="text" />
                </div>
                <div>
                    <label>Posición</label><br>
                    <input type="text" />
                </div>
                
            </div>
        </div>
    </div>
</div>
